---
---
<!doctype html>
<meta charset="utf-8">
<style>

html, body, #map { height: 100%; margin: 0 }
.county { fill: #fffee8; pointer-events: all; cursor: pointer }
.county.hover { stroke: blue; fill: #eeebc2 }
.county text, .county.hover text { stroke: none; fill: black }
.ro-borders { fill: none; stroke: black; stroke-width: .8px }
.judet-borders { fill: none; stroke: black; stroke-width: .4px }
.modal-body iframe { border: none; width: 100%; height: 100% }
#judete-data { display: none }

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<body>
<div id="map"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser-polyfill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.20/topojson.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.11.0/fetch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script type="text/babel">

async function main() {
  let baseWidth = 600
  let baseHeight = 420

  let container = document.querySelector('#map')
  let width = $(container).width()
  let height = $(container).height()
  let scale = d3.min([width / baseWidth, height / baseHeight])

  let quantize = d3.scale.quantize()
      .domain([0, .15])
      .range(d3.range(9).map(function(i) { return 'q' + i + '-9' }))

  let projection = d3.geo.stereographic()
      .scale(10000 * scale)
      .translate([width / 2, height / 2])
      .rotate([-25, -45.95])

  let path = d3.geo.path()
      .projection(projection)

  function getJson(url) {
    return new Promise((resolve, reject) => {
      d3.json(url, (err, res) => {
        if(err) return reject(err)
        resolve(res)
      })
    })
  }

  let svg = d3.select(container).append('svg')
      .attr('width', width)
      .attr('height', height)

  let judete = await getJson('judete.topojson')
  let siruta = await getJson('siruta.json')
  let judeteFeatures = topojson.feature(judete, judete.objects.judete).features

  function toggler(hover) {
    return function(d) {
      d3.select(this).classed('hover', hover)
    }
  }

  let gCounty = svg.append('g')
    .selectAll('.county')
      .data(judeteFeatures)
    .enter().append('g')
      .classed('county', true)
      .on('mouseover', toggler(true))
      .on('mouseout', toggler(false))
      .on('click', (d) => {
        let modal = $('#modal-judet')
        let judetSiruta = siruta[d.properties.id].short
        $('h4', modal).text(judetSiruta)
        let id = `judete/${judetSiruta}.html`
        let body = document.getElementById(id).innerHTML
        $('.modal-body', modal).html(body)
        modal.modal()
      })

  gCounty.append('path')
      .attr('id', (d) => `judet-${d.properties.id}`)
      .attr('d', path)

  gCounty.append('text')
      .attr('transform', (d) => `translate(${path.centroid(d)})`)
      .attr('text-anchor', 'middle')
      .attr('font-size', 12 * scale)
      .text((d) => siruta[d.properties.id].code)

  svg.append('path')
      .datum(topojson.mesh(judete, judete.objects.judete, (a, b) => a !== b))
      .attr('class', 'judet-borders')
      .attr('d', path)

  svg.append('path')
      .datum(topojson.merge(judete, judete.objects.judete.geometries))
      .attr('class', 'ro-borders')
      .attr('d', path)
}

main().catch((e) => { console.error(e.stack || e) })

</script>

<div class="modal fade" id="modal-judet" tabindex="-1" role="dialog" aria-labelledby="modal-judet-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal-judet-label">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">închide</button>
      </div>
    </div>
  </div>
</div>

<div id="judete-data">
{% for page in site.pages %}
  {% if page.is_judet %}
  <div id="{{ page.path }}">
    {{ page.content }}
  </div>
  {% endif %}
{% endfor %}
</div>
